<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
	<connectionStrings>
		<add name="ChapooDatabase" connectionString="Data Source=den1.mssql8.gear.host;
         Initial Catalog=dbchapoo202106; User=dbchapoo202106; Password=Ay90dkB_9_3v"/>
	</connectionStrings>
</configuration>
